body {
  margin: 0;
}
canvas {
  width: 1800px;
  height: 987px;
  display: block;
 
  background-color: #cccccc;
}

@media screen and (max-width: 1024) {
	.colonna1,
	.colonna2 {
		width: 50%;
	}
	.colonna1 {
		float: left;
	}
	.colonna2 {
		float: right;
	}
}
@media screen and (max-width: 480) {
	canvas {
    width: auto;
    height: 100%;
    display: block;
    background-color: grey;
  }
}
